
 
    <app-menu></app-menu>
    <hr>
    <div class="controls-wrapper">
        <button class="pad-button"  (click)="startRecord()">StartRecord</button>
        <button class="pad-button" [class.disabled]="!isAllStopped" (click)="playBigLoop()">PLAY BIG LOOP</button>
        <button class="pad-button"  (click)="stopRecord()">StopSounds</button>
        <button class="pad-button"  (click)="handleMetronome()">Metronome</button>
    </div>
    <div class="single-track-play-wrapper" *ngFor="let track of singleTrackPlayButtons">
        <button class="pad-button" *ngIf="track.isPlaying" (click)="stopRecordedTrack(track.trackId)" >{{track.trackId}}</button>
        <button class="pad-button" *ngIf="!track.isPlaying" (click)="playLittleLoop(track.trackId);" >{{track.trackId}}</button>
    </div>
    <div class="pad-wrapper">
        <div class="button-wrapper"  *ngFor="let sound of soundsBufferAudio">
            <button class="pad-button" (click)="play(sound)">{{sound.keyCode}}</button>
        </div>
    </div>  
    <div class="loop-progress-indicator">
        <div  [style.width.%]="progressFillWidth" [class.recording]="isRecording" class="progress-bar-fill"></div> 
    </div>  
    